.clipEditor {
  position: relative;
  height: 320px;;
  width: 700px;
  background-color: #616161;
  left: 20%;
  margin: 20px 0;
}

#clip-instruction {
  margin: 0px 25px;
}

#clipEdit-container {
  display: flex;
  position: relative;
}

#editorText {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 0 25 25 25;
}

.dropzone-styles {
  margin: 25px;
}

.videotextcontainer {
  display: flex;
  justify-content: space-around;
}

#buttonalign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#updatebtn {
  text-shadow: none;
  box-shadow: none;
}

#scrubber-container {
  position: relative;
  height: 23px;
  width: 440px;
  left: 25px;
  transform: translateY(-50%);
}

#scrubber-line {
  position: relative;
  width: 98%;
  height: 8px;
  background-color: blue;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#left-scrub {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #66f7ff;
}

#right-scrub {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #ff82ec;
}
