.clipEditor {
  position: relative;
  height: 320px;;
  width: 700px;
  background-color: #616161;
  left: 20%;
  margin: 20px 0;
}

#clipEdit-container {
  display: flex;
  position: relative;
}

#editorText {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 25px;
}

#editorVideo {
  margin: 25px;
}

#scrubber-container {
  position: relative;
  height: 23px;
  width: 350px;
  left: 60px;
  transform: translateY(-50%);
}

#scrubber-line {
  position: relative;
  width: 98%;
  height: 8px;
  background-color: blue;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play-pause-button {
  position: relative;
  left: -35px;
  font-size: 1.5em;
  transform: translateY(-40%);
}

#play-pause-button:hover {
  cursor: pointer;
}

#left-scrub {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #66f7ff;
  /*-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;*/
}

#right-scrub {
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #ff82ec;
}
