@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Neuton:700');

#font-selector {

}

#neuton p {
  font-family: 'Neuton', serif;
}

#roboto p {
  font-family: 'Roboto', sans-serif;
}

#anton p {
  font-family: 'Anton', sans-serif;
}
